/* heebo-hebrew-wght-normal */
@font-face {
  font-family: "Heebo Variable";
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  src: url(@fontsource-variable/heebo/files/heebo-hebrew-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

body {
  direction: rtl;
  margin: 0;
}

.horizontal {
  display: flex;
}

button {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  font-family: "Heebo Variable", sans-serif;
}

.frame {
  width: 980px;
  margin: 0 auto;
}

header {
  background: linear-gradient(to bottom, #4a7999, #82aac5);
  color: white;
  padding-top: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  img {
    width: 99px;
    height: 94px;
  }

  .content {
    margin-right: 40px;
  }

  h1 {
    font-size: 45px;
    font-family: "Heebo Variable", sans-serif;
    font-weight: normal;
    margin: 30px 21px 0 0;
  }

  h2 {
    font-size: 68px;
    margin: 50px 0 0;
    max-width: 500px;
    line-height: 72px;
    font-weight: 300;
  }

  button {
    margin-top: 60px;
  }
}

section.bini {
  background-color: rgb(213, 227, 228);

  .horizontal {
    align-items: flex-end;
  }

  h2 {
    font-weight: 300;
    color: rgb(238, 141, 47);
    font-size: 30px;
    letter-spacing: 1px;
  }

  img {
    width: 316px;
    height: 322px;
  }

  p {
    font-size: 18px;
    font-weight: 100;
  }
}
