/* heebo-hebrew-wght-normal */
@font-face {
  font-family: "Heebo Variable";
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  src: url(@fontsource-variable/heebo/files/heebo-hebrew-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

body {
  direction: rtl;
  margin: 0;
}

.horizontal {
  display: flex;
}

a {
  color: black;

  &:visited {
    color: black;
  }
}

button {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
}

h2,
h3,
h4 {
  font-family: "Heebo Variable", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

p {
  font-size: 18px;
  font-weight: 100;
}

.frame {
  width: 980px;
  margin: 0 auto;
}

header {
  background: linear-gradient(to bottom, #4a7999, #82aac5);
  color: white;
  padding-top: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  img {
    width: 99px;
    height: 94px;
  }

  .content {
    margin-right: 40px;
  }

  h1 {
    font-size: 45px;
    font-family: "Heebo Variable", sans-serif;
    font-weight: normal;
    margin: 30px 21px 0 0;
  }

  h2 {
    font-size: 68px;
    margin: 50px 0 0;
    max-width: 500px;
    line-height: 72px;
  }

  button {
    margin-top: 60px;
  }
}

section.bini {
  background-color: rgb(213, 227, 228);

  .horizontal {
    align-items: flex-end;
  }

  h2 {
    font-weight: 300;
    color: rgb(238, 141, 47);
    letter-spacing: 1px;
  }

  img {
    width: 316px;
    height: 322px;
  }
}

section.family {
  background-color: rgb(127, 171, 196);
  color: white;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .frame {
    position: relative;
  }

  .content {
    width: 590px;
    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 50px;
  }

  img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 372px;
    height: 376px;
    opacity: 0.08;
    filter: brightness(0.3);
  }
}

section.commercial {
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  background-color: rgb(238, 141, 47);
  color: white;

  .content {
    width: 620px;
    margin-right: 320px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

section.real-estate,
section.state,
section.orly {
  background-color: rgb(213, 227, 228);
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #ee8d2f;
    max-width: 400px;
  }

  .content {
    width: 640px;
    padding-top: 30px;
    margin-right: 95px;
    padding-bottom: 20px;
  }
}

section.labor,
section.arbitration {
  background-color: rgb(127, 171, 196);

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .content {
    width: 640px;
    padding-top: 30px;
    margin-right: 320px;
    padding-bottom: 20px;
  }
}

section.arbitration {
  color: white;
}

section.orly {
  background-color: rgb(187, 209, 220);

  .content {
    width: 540px;

    p {
      margin-top: 40px;
    }
  }

  img {
    width: 273px;
    height: 364px;
  }
}

section.contact {
  background-color: rgb(254, 254, 246);

  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: #ee8d2f;
    font-size: 40px;
  }

  h4 {
    font-size: 28px;
  }

  .content {
    margin-right: 95px;
    padding-top: 60px;
  }

  a {
    font-size: 20px;
  }

  .phone {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .phone a {
    font-size: 30px;
    text-decoration: none;
  }

  img {
    margin-top: 20px;
    margin-bottom: 14px;
    width: 322px;
    height: 206px;
  }

  .branches {
    margin-top: 80px;
    display: flex;
    gap: 80px;
    padding-bottom: 20px;
  }

  .branch {
    padding-bottom: 40px;
    p {
      margin: 3px;
    }
  }
}

section.footer {
  background-color: rgb(110, 176, 204);
  color: white;
  a {
    color: white;
  }
  .content {
    margin-right: 95px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  p {
    margin: 0;
  }
}

#menu.hidden {
  transform: translate(100%, 0);
  opacity: 0;
}

#menu {
  position: absolute;
  background-color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);

  a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
  }
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

@media (max-width: 900px) {
  body {
    min-width: 275px;
  }

  .frame {
    width: 100%;
    padding: 0;
  }

  .horizontal {
    flex-direction: column;
  }

  header {
    position: relative;
    padding-top: 0;
    padding-bottom: 30px;

    &.menu-open {
      width: 100%;
      height: 100vh;
      position: fixed;
      background: white;
      z-index: 100;
    }

    img {
      width: 50px;
      height: 48px;
    }
    .horizontal {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .top {
      background-color: white;
      color: black;
      padding: 10px;
    }

    .hamburger {
      position: relative;
      z-index: 100;
      -webkit-user-select: none;
      user-select: none;
      margin-top: 10px;

      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;

        transition:
          transform 0.2s cubic-bezier(0.41, -0.44, 0.46, 1.59),
          background 0.2s cubic-bezier(0.5, 0.4, 0.05, 1),
          opacity 0.15s ease;

        &:nth-last-child(2) {
          transition:
            transform 0.2s cubic-bezier(0.5, 0.4, 0.05, 1),
            background 0.2s cubic-bezier(0.5, 0.4, 0.05, 1),
            opacity 0.15s ease;
        }
      }
      span:first-child {
        transform-origin: 0 0;
      }

      span:nth-last-child(2) {
        transform-origin: 0 100%;
      }

      &.open span {
        background: #232323;
        &:nth-last-child(3) {
          opacity: 1;
          transform: rotate(45deg) translate(1px, -1px);
        }

        &:nth-last-child(1) {
          transform: rotate(-45deg) translate(-3.5px, 0px);
        }

        &:nth-last-child(2) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
      }
    }

    h1 {
      font-size: 25px;
      line-height: 45px;
      margin: 0;
    }

    h2 {
      font-size: 36px;
      margin: 30px 0 0;
      line-height: 50px;
    }

    .content > button {
      margin: 50px auto 0;
      width: 120px;
      padding-left: 0;
      padding-right: 0;
      display: block;
    }
  }

  .content {
    margin: 0 !important;

    & > * {
      margin-right: 8px;
      max-width: 90%;
    }
  }

  section.bini {
    h2 {
      font-size: 22px;
      line-height: 45px;
    }

    img {
      width: 60%;
      height: auto;
    }

    .horizontal {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  section.family {
    h3 {
      font-size: 22px;
    }

    .content {
      width: 100%;
      padding-right: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  section.commercial {
    h3 {
      font-size: 22px;
    }

    .content {
      width: 100%;
      margin-right: 0;
      padding: 20px 0;
    }
  }

  section.real-estate,
  section.state,
  section.orly {
    h3 {
      font-size: 22px;
    }

    .content {
      width: 100%;
      padding: 20px 0;
    }
  }

  section.labor,
  section.arbitration {
    h3 {
      font-size: 22px;
    }

    .content {
      width: 100%;
      margin-right: 0;
      padding: 20px 0;
    }
  }

  section.orly {
    .horizontal {
      align-items: center;
    }
    img {
      width: 65%;
      height: auto;
    }
  }

  section.contact {
    h3 {
      font-size: 35px;
    }

    h4 {
      font-size: 25px;
    }

    .content {
      width: 100%;
    }

    .phone a {
      font-size: 25px;
    }

    img {
      width: 100%;
      height: auto;
    }

    .branches {
      flex-direction: column;
      gap: 20px;
    }
  }
}
